.container {
    width: 85%;
    max-width: 1140px;
    margin: 0 auto;
}

[class^='col-'] {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.pd {
    padding-top: 20px;
}

@mixin createLayout($maxWidth, $minWidth, $colName) {
    @if $maxWidth==auto {
        @media screen and (min-width:$minWidth) {
            @for $i from 1 through 12 {
                .col-#{$colName}-#{$i} {
                    width: calc(100%/12*#{$i});
                }
            }
        }
    }

    @else {
        @media screen and (max-width:$maxWidth) and (min-width:$minWidth) {
            @for $i from 1 through 12 {
                .col-#{$colName}-#{$i} {
                    width: calc(100%/12*#{$i});
                }
            }
        }
    }
}

@include createLayout(auto, 1200px, "xl");
@include createLayout(1200px, 992px, "lg");
@include createLayout(992px, 768px, "md");
@include createLayout(768px, 576px, "sm");
@include createLayout(576px, 0px, "xs");